/* Variables */
:root {
  --ms-header-color: #2c3e50;
  --ms-primary-color: #1abc9c;
  --ms-header-height: 70px;
  --ms-footer-color: #3a546d;
}
/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/* HEADER */
.ms_header {
  background-color: var(--ms-header-color);
  height: var(--ms-header-height);
}

.container-head {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container-head > a {
  color: white;
}

.container-head > a > i {
  color: gray;
  border: 1px solid gray;
  padding: 0.3rem;
}
/* MAIN */
.ms_primary-bg {
  background-color: var(--ms-primary-color);
  color: white;
}

.ms_avatar {
  width: 200px;
}

.container-portfolio {
  padding: 0 2rem;
}

.col-12 > img {
  border-radius: 1rem;
}

.ms_small-container {
  width: 60%;
  max-width: 720px;
  margin: 0 auto;
}

.download {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.download > i {
  margin-right: 10px;
}

.ms_info > div > input,
textarea {
  border-width: 0 0 1px 0;
}

input,
textarea:focus {
  outline: none;
}

.ms_btn {
  margin-top: 0.5rem;
  background-color: hsl(168deg 76% 42%);
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
}
/* FOOTER */
.ms_footer-top {
  color: white;
  background-color: var(--ms-footer-color);
}

.icon-container > i {
  margin-right: 0.3rem;
  border: 1px solid white;
  padding: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ms_footer-bottom {
  color: white;
  background-color: var(--ms-header-color);
}

.head-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .bars {
    display: none;
  }

  .head-links {
    display: block;
  }
}
